@model Sistema_Restaurante.Models.Prato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoPrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoPrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.NomeCategia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.NomeFornecedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
